{{#section 'header'}}
    <title>Inventory</title>
    <!--     CSS -->
    <link rel="stylesheet" href="css/tables.css">
    <!-- JS -->
    <script src="addProduct.js"></script>
{{/section}}
<div class="container wrapper">
    <div class="inventorycontainer">
        <div class="headercontainer">
        <div class="headerleft">
            <h1>Inventory</h1>
        </div>
        <div class="headerright">
            <p><span>Actual Products</span></p>
        </div>
        </div>

        <div class="descriptioncontainer">
        <div class="description">
                This page contains the list of products that the
                company has produced.
        </div>
        {{> messages}}
        </div>

        <div class="toolcontainer">
        <div class="toolleft">
            <div class="btncontainer">
            <button class="button" id="btnadditemmodal" data-toggle="modal" data-target="#modalbg">Add a Product</button>
            </div>
        </div>
        
        <div class="toolright">
            <div class="dropdown">
            <button class="dropbtn">Filter By</button>
            <div class="dropdown-content">
            <a href="#">Name</a>
            <a href="#">Price</a>
            <a href="#">Quantity</a>
            </div>
            </div>
        </div>
        </div>
        <br>

        <form>
        <table class="inventorytable mt-3">
            <col style="background-color: #FAFA87;"/>
            <tr>
            <th>PRODUCT NAME</th>
            <th>EXPIRY</th>
            <th>DATE BOUGHT</th>
            <th>QUANTITY</th>
            <th>BASE PRICE</th>
            <th>SELLING PRICE</th>
            <th>LOCATION</th>
            <th>UPDATE</th>
            <th>DELETE</th>
            </tr>

            {{#each products}}
            <tr id={{this._id}}>
                <td class="productName">{{this.productName}}</td>
                <td class="expiry">{{formatDate this.expirationDate}}</td>
                <td> {{formatDate this.dateBought}}</td>
                <td class="quantity">{{this.quantity}}</td>
                <td class="basePrice">Php {{this.basePrice}}</td>
                <td class="sellingPrice">Php {{this.sellingPrice}}</td>
                <td class="location">{{this.location}}</td>
                <td>
                    <button class="button launchUpdate" data-id={{this._id}} type="button" data-toggle="modal" data-target="#updateModal">Update</button>
                </td>
                <td>
                    <button class="button launchDelete" data-id={{this._id}} type="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </td>
            </tr>
            {{/each}}

        </table>
        </form>
    </div>

    <!-- Add Product Modal -->
    <div class="modal" id="modalbg" data-backdrop="false">
        <!-- Modal Content -->
        <div class="addmodal">
        <!-- Modal Close Button -->
        <span class="close" data-dismiss="modal">&times;</span>
        <br>
        <!-- Modal Form -->
        <div class="modalbody">
            <!-- Modal Add Item Fields -->
            <div class="inputcontainer">
            <h1>Add a Product</h1>
            <form method='POST' autocomplete="off" name="addProduct" action='/inventory/addProduct'>
                <!-- Product Name -->
                <div class="formcontainer">
                    <div class="formlabel">
                        Product Name
                    </div>
                    <div class="forminput">
                        <input type="text" name="productName" required>
                    </div>
                </div>
                <br>

                <!-- Expiration Date -->
                <div class="formcontainer">
                    <div class="formlabel">
                        Expiration Date
                    </div>
                    <div class="forminput">
                        <input type="date" name="expirationDate" required>
                    </div>
                </div>
                <br>

                <!-- Date Bought -->
                <div class="formcontainer">
                    <div class="formlabel">
                        Date Bought
                    </div>
                    <div class="forminput">
                        <input type="date" name="dateBought" required>
                    </div>
                </div>
                <br>

                <!-- Quantity -->
                <div class="formcontainer">
                    <div class="formlabel">
                        Quantity
                    </div>
                    <div class="forminput">
                        <input type="number" name="quantity" required>
                    </div>
                </div>
                <br>

                <!-- Base Price -->
                <div class="formcontainer">
                    <div class="formlabel">
                        Base Price (per item)
                    </div>
                    <div class="forminput">
                        <input type="number" name="basePrice" required>
                    </div>
                </div>
                <br>

                <!-- Selling Price -->
                <div class="formcontainer">
                    <div class="formlabel">
                        Selling Price
                    </div>
                    <div class="forminput">
                        <input type="number" name="sellingPrice" required>
                    </div>
                </div>
                <!-- Location -->
                <div class="formcontainer">
                    <div class="formlabel">
                        Location
                    </div>
                    <div class="forminput">
                        <input type="text" name="location" required>
                    </div>
                </div>
                <br>

                <br>
                <!-- Modal Button -->
                <div class="modalbtncontainer">
                    <button type="submit" id="add-item-btn" class="button">Add</button>
                </div>
            </form>
            </div>
            <br>
        </div>
        </div>
    </div>

    <!-- Update Product Modal -->
    <div id="updateModal" class="modal" data-backdrop="false">
        <!-- Modal Content -->
        <div class="addmodal">
        <!-- Modal Close Button -->
        <span class="close" data-dismiss="modal">&times;</span>
        <br>
        <!-- Modal Form -->
        <div class="modalbody">
            <!-- Modal Add Item Fields -->
            <div class="inputcontainer">
                <h1>Update Product</h1>
                <form id="updateForm">
                    <!-- Product Name -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Product Name
                        </div>
                        <div class="forminput">
                            <input type="text" id="updateproductname">
                        </div>
                    </div>
                    <br>

                    <!-- Quantity -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Quantity
                        </div>
                        <div class="forminput">
                            <input type="number" id="updatequantity">
                        </div>
                    </div>
                    <br>

                    <!-- Base Price -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Base Price (per item)
                        </div>
                        <div class="forminput">
                            <input type="number" id="updatebaseprice">
                        </div>
                    </div>
                    <br>

                    <!-- Selling Price -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Selling Price
                        </div>
                        <div class="forminput">
                            <input type="number" id="updatesellingprice">
                        </div>
                    </div>
                    <br>

                    <!-- Expiry -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Expiry
                        </div>
                        <div class="forminput">
                            <input type="date" id="updateexpiry">
                        </div>
                    </div>
                    <!-- Expiry -->
                    <div class="formcontainer">
                        <div class="formlabel">
                            Location
                        </div>
                        <div class="forminput">
                            <input type="text" id="updatelocation">
                        </div>
                    </div>
                    <br>
                        <!-- Modal Button -->
                    <div class="modalbtncontainer">
                        <button type="submit" class="button" id="btnUpdateItem">Update</button>
                    </div>
                </form>
            </div>
            <br>
        </div>
        </div>
    </div>

    <!-- Delete Product Modal -->
    <div id="deleteModal" class="modal" data-backdrop="false">
        <!-- Modal Content -->
        <div class="addmodal delmodal">
        <!-- Modal Close Button -->
        <span class="close" data-dismiss="modal">&times;</span>
        <br>
        <!-- Modal Form -->
        <div class="modalbody">
            <!-- Modal Add Item Fields -->
            <div class="delcontainer">
                <h1>Delete Product</h1>
                <p>Are you sure you want to delete this product?</p>
                <form id="deleteForm">
                    <div class="del-btn-group">
                        <div>
                            <button type="submit" class="button" id="btnDeleteItem">Delete</button>
                            <button type="submit" class="button" id="btnCancelDeleteItem">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <br>
        </div>
        </div>
    </div>

</div>